{erl_opts, [warnings_as_errors]}.

{project_plugins, [
    {erlfmt, {git, "https://github.com/WhatsApp/erlfmt.git", {branch, "main"}}},
    rebar3_ex_doc
]}.
{erlfmt, [write]}.

{alias, [
    {check, [
        {fmt, "--check"},
        xref,
        dialyzer
    ]},
    {test, [
        {eunit, "-v"}
    ]},
    {doc, [
        {ex_doc, "-f html"}
    ]}
]}.

{ex_doc, [
    {extras, [
        {"README.md", #{title => "Overview"}},
        {"CONTRIBUTING.md", #{title => "Contributing"}},
        {"LICENSE", #{title => "License"}}
    ]},
    {main, "README.md"},
    {source_url, "https://github.com/yagogarea/erltity"},
    {prefix_ref_vsn_with_v, false}
]}.

{relx, [
    {release, {erltity, "0.0.1"}, [
        runtime_tools,
        sasl,
        inets,
        erltity,
        erltity_json_schema_parser
    ]},
    {dev_mode, false},
    {include_erts, false}
]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

{xref_checks, [
    undefined_function_calls,
    locals_not_used,
    deprecated_function_calls
]}.
