{deps, [
  {erltity, {git_subdir, "https://github.com/yagogarea/erltity.git", {branch, "main"}, "apps/erltity"}},
  {erltity_epgsql, {git_subdir, "https://github.com/yagogarea/erltity.git", {branch, "main"}, "apps/erltity_epgsql"}},
  {erltity_json_schema_parser, {git_subdir, "https://github.com/yagogarea/erltity.git", {branch, "main"}, "apps/erltity_json_schema_parser"}}
]}.
